@import "variables";
@import "mixins";

.primary-btn {
  a {
    padding: 7px 19px;
    font-size: 13px;
    border-radius: 0px;
    border: 1px solid $primary;
  }
}

.gh-primary-btn a,
.primary-btn {
  padding: 7px 19px;
  font-size: 13px;
  color: $white;
  border-radius: 0px;
  background-color: $primary;
  border: 1px solid $primary;
  transition: .5s ease-in-out;

  &:hover {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
}