@font-face {
    font-family: 'avenir-light';
    src: url("../fonts/avenir-lt-w01_35-light1475496.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir-heavy';
    src: url("../fonts/avenir-lt-w01_85-heavy1475544.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}