@import '../variables';
@import '../mixins';

.contact-wrapper {
    .contact-form {
        border: 1px solid #757575;
        border-radius: 10px;
        padding: 28px 25px;

        .form-group {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            margin-bottom: 26px;

            @include small-mobile {
                flex-direction: column;
            }

            .input-group {
                width: 50%;

                @include small-mobile {
                    width: 100%;
                }

                p {
                    width: 100%;
                    margin-bottom: 0px;

                    label {
                        font-family: "avenir-light", sans-serif;
                        margin-bottom: 10px;
                        color: $black;
                        font-weight: 400;
                        line-height: 16px;
                    }

                    .wpcf7-form-control-wrap {
                        .wpcf7-not-valid-tip {
                            font-family: "avenir-light", sans-serif;
                        }

                        input,
                        textarea,
                        select {
                            width: 100%;
                            background-color: #f7f7f7;
                            border-radius: 10px;
                            min-height: 49px;
                            font-family: "avenir-heavy", sans-serif;
                            color: $black;
                            border: 1px solid #f7f7f7;
                            padding: 3px 10px 3px 22px;
                            outline: none;

                            &:hover {
                                border: 1px solid $primary;
                            }

                            &::placeholder {
                                color: #999999;
                            }
                        }

                        select {
                            background: url('/wp-content/themes/coolair-child/assets/down-arrow.png') right 12px top 18px no-repeat #f7f7f7;
                            background-size: 16px;
                            -webkit-appearance: none;

                            &.wpcf7-form-control.wpcf7-select option:first-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .form-action {
            p {
                position: relative;

                input {
                    width: 100%;
                    height: 45px;
                    padding: 5px 30px;
                    font-size: 16px;
                    font-family: 'avenir-heavy', sans-serif;
                }

                .wpcf7-spinner {
                    position: absolute;
                    left: 50%;
                    margin: 0;
                    transform: translateX(-50%);
                    top: 10px;
                }
            }
        }
    }

    .contact-btns {
        a {
            width: 100%;
        }
    }
}