@import '../variables';
@import '../mixins';

.rtmega-menu-area {
    ul.rtmega-megamenu {
        .menu-item {
            padding: 0px 14px;
            display: flex;
            align-items: center;


            @include md-laptop {
                display: block;
                padding: 0px;
            }

            &:hover {
                transition: .5s ease-in-out;
            }

            &.gh-primary-btn {
                padding: 0px 5px;

                @include md-laptop {
                    padding: 14px 0px 0px 0px !important;
                }

                @include md-laptop {
                    display: block;
                }

                a {
                    @include md-laptop {
                        padding: 8px 10px !important;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                }
            }

            &:last-child {
                padding-right: 0px;
            }

            a {
                font-family: $Avenir-light;
                transition: inherit !important;

                @include md-laptop {
                    border: none !important;
                    padding: 10px 0px !important;
                }

                .submenu-parent-icon {
                    padding: 4px !important;
                }
            }

            &.menu-item-has-children {
                .sub-menu {
                    min-width: 10px;
                    width: max-content !important;

                    @include md-laptop {
                        padding-top: 0px !important;
                        padding-left: 5px !important;
                    }

                    .sub-menu-item {
                        padding: 0px;

                        &.visa-mobile {
                            display: none;

                            @include md-laptop {
                                display: block;
                            }
                        }
                    }
                }
            }

        }
    }
}